{% extends "layout.html.twig" %}

{% block header %}We have an error. Sorry for that!{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs12 text-center">
            <h1>OOPS! Internal server error!</h1>
            <h2>{{ message }}</h2>
        </div>
    </div>
{% endblock %}
