<div class="row">
    <nav class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <ul class="nav nav-tabs">
          <li role="presentation"{% if menu == "login" %} class="active"{% endif %}><a href="/login">Login</a></li>
          <li role="presentation"{% if menu == "register" %} class="active"{% endif %}><a href="/register">Register</a></li>
        </ul>
    </nav>
</div>
