{% extends "layout.html.twig" %}

{% block menu %}
    {% include "menu.html.twig" %}
{% endblock %}

{% block title %}BigCommerce :: Registration{% endblock %}

{% block header %}Please, complete the registration form to join us!{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            {% if message %}
                <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
            {% endif %}
            <form name="registrationForm" action="/register" method="post">
                <fieldset class="form-group form-group-lg">
                    <label for="username">Username:</label>
                    <input type="text" name="username" value="{{ username }}" class="form-control text-center" autofocus="autofocus" required="required" maxlength="10" minlength="3" />
                </fieldset>
                <fieldset class="form-group form-group-lg">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control text-center" minlength="6" />
                </fieldset>
                <fieldset class="form-group form-group-lg">
                    <label for="password">Repeat password:</label>
                    <input type="password" name="rpassword" class="form-control text-center" minlength="6" />
                </fieldset>
                <fieldset class="text-right">
                    <input type="hidden" name="csrf_register" value="{{ csrfToken }}" />
                    <button type="submit" class="btn btn-lg btn-success">Create account</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
