{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs12 text-center">
            <h1>OOPS! 404...</h1>
            <h2>Requested URL was not found our server.</h2>
        </div>
    </div>
{% endblock %}