{% extends "main.html.twig" %}

{% block styles %}
    <style type="text/css">
        @import url('/main.css');
    </style>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row header">
        </div>
    </div>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    <div class="container-fluid">
        <div class="row footer">
            <div class="col-xs-12 text-center text-uppercase">
                Copyright &copy; {{ 2015|copyrightYears() }}
            </div>
        </div>
    </div>
{% endblock %}
